* { /* Selector universal. Acá usado para resetear estilos por defecto*/
    margin:0;
    padding:0;
}


body{ /* Selector de tipo, elemento, etiqueta*/
    background-color: cornflowerblue;
}

p, h1, h2{ /* Selecciona todos los elementos p, h1 y h2*/
    color:burlywood;
}


.imagenes{
    text-align: center;
}

table{ 
    border: 4px solid darkred; /* Width, style, color del borde*/
    border-spacing: 15px; /*Espaciado entre celdas*/
    /*border-collapse: collapse;*/
}

th, td{
    border: 2px dashed red;
    background-color: palevioletred;
}

td{
    background-color: coral;
    text-align: center;
}

table th 
