/* Hoja de estilo personalizada */
/* CSS: cascading style sheet */

/* selector de etiqueta */
body {
    background-color:#0B0C67;
    color: #FFFADE;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
}

#description {
    color:brown;
}

p{
    color:aqua;
}