
body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #000000; 
    color: #000000; 
}

h1,h2,h3 {
    font-family: "Arial, sans.serif";
    color: #e9b320; 
}

p {
    font-size: 26xp;
    color: #d4c81d;
}

h1{
    font-size: 44px;
}
h2{
    font-size: 44px;
}
button {
    background-color: #c9d613; 
    color: #000000; 
    border: 2px solid white; 
    padding: 10px 20px; 
    cursor: pointer; 
}
#imagen{
    display: block;
    margin: 0 auto;
    border: 2px solid white;
    padding:  5px;
}
hr {
    border: 1px solid #ccc;
}